@{
<div class="container text-center mx-auto">
    <h2>Random PassCode Count: @ViewBag.Count</h2>
    <br>
</div>
<div class="sp container mx-auto"><br><h1 class="text-center" style="vertical-align: center;"> @ViewBag.Word  </h1></div>
<form action="random_word" method="POST">
    <br>
    <p class="text-center"><input type="submit" class="text-center btn btn-primary" value="Generate Word!"></p>
</form>
}